.main-div {
  width: 360px;
  height: 100vh;
  min-height: auto;
  background: transparent linear-gradient(180deg, #000000 0%, #000e09 100%) 0%
    0% no-repeat padding-box;
  /* border-radius: 28px; */
  margin: auto;
  overflow-x: hidden;
}

.logo-div {
  padding: 160px 134px 80px;
}

.login-form-div {
  padding: 0px 60px;
}

.moptro-logo-div {
  padding: 10px 0px 40px;
}

.badge-div {
  background: #5e5e5eb5 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 4px 0px #00000040;
  mix-blend-mode: normal;
  border: 1px solid #fffefe00;
  opacity: 0.4;
  filter: blur(2px);
  top: 0px;
  right: 115px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 50%;
}

.badge-val {
  color: #36a546;
  font-size: 18px;
  position: absolute;
  right: 129px;
  top: 4px;
}

.dashboard-main-div {
  margin: 20px;
  background: #5e5e5e82 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 4px 0px #00000040;
  mix-blend-mode: normal;
  border-radius: 22px;
}

.dashboard-header {
  border-radius: 50px;
  padding: 15px;
  color: #ffffffb3;
  text-align: center;
  background: #1a2c2c99 0% 0% no-repeat padding-box;
}

.dashboard-header p {
  font-size: 17px;
}

.progress-main-div {
  margin: 40px 15px;
}

.progress-main-div .ant-progress-text {
  font-size: 14px;
  color: #36a546;
}

.progress-main-div span {
  color: #ffffff;
  font-size: 14px;
}

.progress-main-div .ant-progress-bg {
  background: #36a54680 0% 0% no-repeat padding-box;
  mix-blend-mode: normal;
  border: 1px solid #36a546;
}

.user-main-div {
  padding: 0px 30px;
}

.user-main-div input {
  width: 298px;
  height: 55px;
  background: #5e5e5e82 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 4px 0px #00000040;
  mix-blend-mode: normal;
  border: 1px solid #595959;
  color: #ffffffb3;
  border-radius: 50px;
  border-right: transparent;
}

.user-main-div input::placeholder {
  color: #ffffffb3;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

.user-main-div .ant-input-group-addon button {
  height: 55px;
  background: #5e5e5e82 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 4px 0px #00000040;
  mix-blend-mode: normal;
  border: 1px solid #595959;
  border-start-end-radius: 50px !important;
  border-end-end-radius: 50px !important;
  border: none;
  box-shadow: inset 0px 4px 0px #00000040;
}

.user-main-div .ant-btn-icon svg {
  color: #ffffffb3;
}

.user-list-div {
  margin-top: 27px;
  padding: 0px 30px 74px;
}

.user-div {
  background: #5e5e5e82 0% 0% no-repeat padding-box;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}

.user-div p {
  color: #ffffffb3;
}

.emp-value {
  color: white;
  font-weight: 700;
}

.dob-value {
  color: #a5732f;
  font-weight: 700;
}

.role-value {
  color: #36a546;
  font-weight: 700;
}
